body {
  background: #22303c;
  font-family: arial;
}
h1 {
  text-align: center;
  font-size: 280%;
  color: #f0ebe6;
}
.button {
  text-decoration: none;
  font-family: arial;
  background: #9ab3be;
  padding: 10px 70px 10px 70px;
  font-size: 60%;
  color: #22303c;
  text-align: left;
  margin-left: 200px
}
.instructionbox {
  text-align: left;
  display: inline-block;
  color: #fff;
  font-size: 200%;
  width: 40%;
  border: 5px light green;
}

.text {
  font-size: 20px;
  color: #7f9baf;
  margin-left: 200px
}

.pic {
  width: 40%;
  text-align: right;
  padding: 50px 20px 10px;
  display: inline-block;
}

img {
  width: 100%;
}

h6 {
  color: #f0ebe6;
    margin-left: 200px
}